<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Asset_Managment.Properties.Settings.mssql2001975ConnectionString"
            connectionString="Data Source=tolmount.abertay.ac.uk;Initial Catalog=mssql2001975;Persist Security Info=True;User ID=mssql2001975;Password=vUKQ5rkSPY"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>